/* #1c1026 #c6bbb9 #4c1e3c #21242b #7a748c */

/* Import Font */
@import url('https://fonts.googleapis.com/css?family=El+Messiri');

/************************************
 * Global Styles
 ************************************/
body {
    line-height: 1.6;
    font-family: 'El Messiri', sans-serif;
    background-color: #1c1026;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #222f3e;
    text-align: center;
}

h3 {
    color: #222f3e;
    text-align: left;
    padding: 10px 40px;
}

ul li {
    list-style-type: none;
    background-color: #c6bbb9;
    color: #333;
    padding: 10px 20px;
    margin-top: 20px;
}

/************************************
 * Navigation Styles
 ************************************/
nav {
    background-color: #c6bbb900;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav a {
    margin: 10px 0;
    text-decoration: none;
    color: #7a748c;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

nav a:hover {
    background-color: #d8ccca;
    border-radius: 5px;
    transform: scale(1.02);
}

nav a:active {
    background-color: #333;
    border-radius: 5px;
}

#myNav a.active {
    background-color: #c6bbb9;
    color: #1c1026;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}

#myNav .avatar {
    cursor: pointer;
    
}

.nav .iconburger {
    display: none;
  }

/************************************
 * Avatar Styles
 ************************************/
.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

/* clickable business card */
.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    cursor: pointer; /* Makes it clear that the avatar is clickable */
}

.business-card {
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden off-screen */
    width: 250px;
    height: 100%;
    background-color: #fff;
    color: #333;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease; /* Smooth slide-in effect */
    overflow-y: auto;
}

.business-card h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

.business-card p {
    margin: 10px 0;
}

.business-card a {
    color: #007bff;
    text-decoration: none;
}

.business-card a:hover {
    text-decoration: underline;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

/************************************
 * Section Styles
 ************************************/
section {
    padding: 50px 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #c6bbb9;
    border-radius: 10px;
}

/************************************
 * Button Styles
 ************************************/
.button {
    display: inline-block;
    background-color: #c6bbb9;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #d8ccca;
}

/************************************
 * Media Queries
 ************************************/
@media screen and (max-width: 900px) {
    nav {
        width: 100%;
        background-color: #c6bbb9e2;

    }
    #myNav a:not(:first-child) {
        display: none;
    }

    #myNav a.iconburger {
        float: none;
        text-align: left;
        display: block;
        margin: 0 auto;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    #myNav {
        width: 0px;
        background-color: #c6bbb900;
    }

    #myNav.responsive a.iconburger {
        position: fixed;
        display: block; 
        top: 16.19%; 
        right: 94%; 
        z-index: 9999; 
    }

    #myNav.responsive {
        position: fixed;
        width: 100%;
        background-color: #c6bbb9d9;
    }

    #myNav.responsive a {
        float: none;
        display: block;
        padding-left: 10%;
    }
}


/* random */
.under-construction {
    text-align: center;
    cursor: pointer; /* Indicating that it's clickable */
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 150px; /* Increased size for visibility */
    height: 150px; /* Increased size for visibility */
    display: flex;
    justify-content:right;
    align-items: center;
    position: fixed; /* Fixes the element at the top of the page */
    top: 50px; /* Adjust the distance from the top */
    left: 90%; /* Center horizontally */
    transform: translateX(-50%); /* Offset the element by half of its width */
    z-index: 9999; /* Ensures it's on top of other elements */
  }
  
  .under-construction:before,
  .under-construction:after {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .under-construction:before {
    width: 70px;
    height: 70px;
    top: 190px;
    left: -120px;
    /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); */
  }
  
  .under-construction:after {
    width: 100px;
    height: 100px;
    top: 130px;
    right: 160px;
    /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); */
  }
  
  .under-construction h2 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #7a748c; /* Softer color for the text */
  }
  
  /* Hover effect to show interaction */
  .under-construction:hover {
    transition: transform 0.3s ease-in-out;
  }
  
  /* Floating text effect on hover */
  .under-construction h2:hover {
    color: #3a3a3a; /* Darker text color on hover */
    transition: color 0.3s ease-in-out;
  }
  
  .floating {
    position: absolute;
    font-size: 2rem;
    animation: float 5s infinite ease-in-out;
  }

  /* Hidden class to hide the icons */
.floating.hidden {
    display: none;
  }
  
  /* Animation keyframes for floating effect */
  @keyframes float {
    0% {
      transform: translateY(0) translateX(0);
    }
    25% {
      transform: translateY(-20px) translateX(10px);
    }
    50% {
      transform: translateY(0) translateX(20px);
    }
    75% {
      transform: translateY(20px) translateX(10px);
    }
    100% {
      transform: translateY(0) translateX(0);
    }
  }
  
  /* Random positions for the floating icons */
  .floating img {
    width: 50px;
    height: auto;
  }
  .floating:nth-child(1) {
    top: 100px;
    left: 20%;
    animation-delay: 0s;
    position: fixed;
  }
  
  .floating:nth-child(2) {
    top: 40px;
    left: 50%;
    animation-delay: 0.5s;
    position: fixed;
  }
  
  .floating:nth-child(3) {
    top: 100px;
    left: 80%;
    animation-delay: 1s;
    position: fixed;
  }

  .floating:nth-child(4) {
    top: 500px;
    left: 70%;
    animation-delay: 1.5s;
    position: fixed;
  }
  .floating:nth-child(5) {
    top: 340px;
    left: 30%;
    animation-delay: 2s;
    position: fixed;
  }
  .floating:nth-child(6) {
    top: 700px;
    left: 50%;
    animation-delay: 2.5s;
    position: fixed;
  }

 /* Media Query for small screens (max-width 900px) */
@media (max-width: 900px) {
    .under-construction, .under-construction:before , .under-construction:after{
      background-color: transparent; /* Set background to transparent */
      box-shadow: none; /* Remove shadow */
      width: auto; /* Adjust width */
      height: auto; /* Adjust height */
      padding: 10px 20px; /* Adjust padding for smaller view */
      border-radius: 0; /* Remove rounded corners for simplicity */
    }
  
    .floating {
      display: none; /* Hide the floating icons */
    }
  
    .under-construction h2 {
      font-size: 1.5rem; /* Slightly larger font for better readability on small screens */
      color: #333; /* Adjust text color for better contrast */
    }
  }
  