/* #1c1026 #c6bbb9 #4c1e3c #21242b #7a748c */
body {
    font-family: Arial, sans-serif;
    background-color: #1c1026;
    color: #333;
    margin: 0;
    padding: 0;
}
/* Navigation */

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 10%;
  }

nav {
    /* background-color: #1c1026; */
    background-color: #c6bbb91a;
    padding: 20px;
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh; 
    width: 200px;  
    z-index: 1;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

nav a {
    margin: 10px 0; 
    text-decoration: none;
    color: #7a748c;
    font-weight: bold;
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
}

nav a:hover {
    color: #c6bbb9;
}

.nav .icon {
    display: none;
  }
  

/* Section Styling */
section {
    padding: 50px 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #c6bbb9;
    border-radius: 10px;
    
    /* height: 100vh; 
    max-height: 100vh;
    box-sizing: border-box; */
}
/* Heading and Text */
h1, h2{
    color: #222f3e;
    text-align: center;
}

h3 {
    color: #222f3e;
    text-align: left;
    padding: 10px 40px 10px 40px;
}
/* Button Styling */
.button {
    display: inline-block;
    background-color: #c6bbb9;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    background-color: #d8ccca;
}

ul li {
    list-style-type:none;
    background-color: #c6bbb9;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}



@media screen and (max-width: 900px) {
    #myNav a:not(:first-child) {
        display: none;
    }
    #myNav a.icon {
        float: none;
        text-align: left;
        display: block;
    }

    #myNav a.icon:hover{
        background-color: #d8ccca;
    }

    #myNav {
        width: 50px;
    }
  }
  
  @media screen and (max-width: 900px) {
    #myNav.responsive {
        position: fixed;
        width: 50px;
    }

    #myNav.responsive a {
        float: none;
        text-align: left;
        display: block;
    
    } 
  }
